html,
body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif;
    overflow-y: visible;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(231, 207, 205);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-container {
    border-right: 2px solid;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.menu {
    list-style-type: none;
    text-align: center;
}

.page-header {
    padding: 112px;
    text-align: center;
    color: black;
}

.page {
    border: 2px solid;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 10px;
}

.title-container {
    align-self: center;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    text-align: center;
}

.list-component {
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(21, 117, 155);
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    font-weight: bold;
    color: rgb(21, 117, 155);
    width: 100%;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    margin-top: 5px;
    width: 100%;
}

.subflex {
    border-right: 1px solid;
}

.first {
    flex: 0.25;
}

.second {
    flex: 0.75;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

.text-div {
    /*flex-grow: 1;*/
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1vw;
}

.image {
    height: 100px;
    width: 100px;
    margin-left: 40%;
    margin-top: 10px;
}

.heading2 {
    color: rgb(10, 94, 10);
    font-size: 1vw;
}

.contact-form {
    margin-left: 50px;
    /*margin-right: 20px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.form-label {
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgb(21, 117, 155);
}

.text-input {
    height: 25px;
    width: 50%;
    margin-top: 10px;
}

.announcement-container {
    /*width: 800px;*/
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.list-text {
    text-align: left;
    font-size: 1vw;
    flex-grow: 1;
    margin-right: 12px;
}

.withborder {
    border-bottom: 1px solid;
}

.announcement-subtitle {
    font-size: 1vw;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: none;
}

section {
    display: block;
}

textarea {
    width: 75%;
    height: auto;
    resize: both;
    overflow: auto;
}

.project-goal {
    margin-left: 40px;
    font-size: 1vw;
}

.redText {
    color: red;
}

.send-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    font-weight: bold;
    color: rgb(21, 117, 155);
    width: 25%;
}

.inside-form{
    margin-left: 50px;
}

/* ---- responsive ---------*/
@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}